# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

src/assets/Sand and gravel river quarry.mp4
src/assets/Amazing Process of Making Construction Aggregate _ High Technology Crushing and Screening Equipment.mp4
src/assets/How to Make Manufactured Sand by Crushing Rocks..mp4


/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
